@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;
  --background: #dbd8d6;
  --foreground: #151515;
  --card: #dbd8d6;
  --card-foreground: #151515;
  --popover: #dbd8d6;
  --popover-foreground: #151515;
  --primary: #151515;
  --primary-foreground: #dbd8d6;
  --secondary: #2b2b2a;
  --secondary-foreground: #dbd8d6;
  --muted: #575655;
  --muted-foreground: #414040;
  --accent: #414040;
  --accent-foreground: #dbd8d6;
  --destructive: #414040;
  --border: #575655;
  --input: #575655;
  --ring: #151515;
  --chart-1: #151515;
  --chart-2: #414040;
  --chart-3: #575655;
  --chart-4: #2b2b2a;
  --chart-5: #dbd8d6;
  --sidebar: #dbd8d6;
  --sidebar-foreground: #151515;
  --sidebar-primary: #151515;
  --sidebar-primary-foreground: #dbd8d6;
  --sidebar-accent: #2b2b2a;
  --sidebar-accent-foreground: #dbd8d6;
  --sidebar-border: #575655;
  --sidebar-ring: #151515;
}

.dark {
  --background: #000000;
  --foreground: #dbd8d6;
  --card: #151515;
  --card-foreground: #dbd8d6;
  --popover: #151515;
  --popover-foreground: #dbd8d6;
  --primary: #dbd8d6;
  --primary-foreground: #151515;
  --secondary: #2b2b2a;
  --secondary-foreground: #dbd8d6;
  --muted: #2b2b2a;
  --muted-foreground: #575655;
  --accent: #414040;
  --accent-foreground: #dbd8d6;
  --destructive: #575655;
  --border: #414040;
  --input: #414040;
  --ring: #dbd8d6;
  --chart-1: #dbd8d6;
  --chart-2: #575655;
  --chart-3: #414040;
  --chart-4: #2b2b2a;
  --chart-5: #151515;
  --sidebar: #151515;
  --sidebar-foreground: #dbd8d6;
  --sidebar-primary: #dbd8d6;
  --sidebar-primary-foreground: #151515;
  --sidebar-accent: #2b2b2a;
  --sidebar-accent-foreground: #dbd8d6;
  --sidebar-border: #414040;
  --sidebar-ring: #dbd8d6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
